<!DOCTYPE html>
<html>
  <head>
    <title>Internet of Things Assistant</title>
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/style.css' rel='stylesheet' />
  </head>
  <body>
    <div class='container'>
      <div class='row-fluid'>
        <div class='span3'>
          <ul class='nav nav-list well'>
            <li class='nav-header'>
              Introduction
            </li>
            <li>
              <a href='#what_is_it'>What is the IoT Assistant?</a>
            </li>
            <li>
              <a href='#screenshots'>Screenshots</a>
            </li>
            <li>
              <a href='#features'>Features</a>
            </li>
            <li class='nav-header'>
              Getting Started
            </li>
            <li> 
              <a href="#get_the_code">Get the code</a>
            </li>
            <li>
              <a href="#configuration">Configuration</a>
            </li>
            <li>
              <a href="#deployment">Deployment</a>
            </li>
            <li>
              <a href="#configuring_your_printer">Configuring your printer</a>
            </li>
            <li class='nav-header'>
              How it works
            </li>
            <li>
              <a href="#architecture">Architecture</a>
            </li>
            <li>
              <a href="#printer_file_format">Printer file format</a>
            </li>
          </ul>
        </div>
        <div class='span9'>
          <div class='hero-unit'>
            <h1>
              IoT Assistant
              <br />
              <small>A News International Research & Development project</small>
            </h1>
          </div>

          <div class='content'>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
